  @font-face {
    font-family: "Josefin-Regular";
    src: url("src/fonts/JosefinSans/static/JosefinSans-Regular.ttf") format("truetype");
  }
  
  body {
    background-image: url("src/pictures/biege-cream-background.jpg");
    background-size: cover;
    backdrop-filter: blur(5px);
    max-width: 1920px;
    margin: auto;
  }