
#samples_grid {
    display: grid;
    grid-template-rows: 500px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.samples-area {
    width: 100%;
    max-width:  1920px;
    padding: 0 15px;
}

.samples-area__nav {

}

.samples-area__grid {
    
}

.sample {
    background: #fff;
}
    
.sample__title {

}

.sample__description {

}